.DS_Store
*.swp
*.swo

# Generated via update-index script
public/blog/feed.xml

node_modules/
.next/
index_data/*.json

# these docs are checked in, but we consider them frozen.
pages/docs/manual/v8.0.0/
pages/docs/manual/v9.0.0/

.bsb.lock
.merlin
lib/
.vscode/

.vercel
