out

.DS_Store
*.swp
*.swo

# Generated via update-index script
public/blog/feed.xml

node_modules/
.next/
index_data/*.json

pages/docs/manual/v8.0.0/

yarn-error.log

.bsb.lock
.merlin
lib/
.vscode/

.vercel

# for IDE tooling tests
bin.exe
