out

.DS_Store
*.swp
*.swo

# Generated via update-index script
public/blog/feed.xml

node_modules/
.next/
index_data/*.json
!index_data/blog_authors.json
!index_data/blog_posts.json
!index_data/build-schema.json

yarn-error.log

.bsb.lock
.merlin
lib/
.vscode/

.vercel

# for IDE tooling tests
bin.exe
