import tailwind from 'tailwindcss';
import tailwindConfig from './tailwind.config.js';

import autoprefixer from 'autoprefixer'
const plugins ={
  tailwindcss: {},
  autoprefixer: {}
};

if(process.env.NODE_ENV === 'production') {
  plugins.cssnano = {};
}



const config = {
  plugins: plugins
};

export default {
  plugins: [autoprefixer, tailwind(tailwindConfig)]
}
