/* purgecss start ignore */

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  /*color: darkgray;*/
  /*border: 1px solid gray;*/
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: gray;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  color: black;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  color: gray;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  @apply text-fire bg-fire-5 shadow-none !important;
}

@media (max-width: 576px) {
  .algolia-autocomplete .ds-dropdown-menu {
    max-width: calc(100vw - 32px) !important;
    min-width: calc(100vw - 32px) !important;
    width: 100%;
    @apply -ml-10 !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--content {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    display: none !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
  }
}

/* purgecss end ignore */
