/* purgecss start ignore */
.DocSearch-Button {
  @apply flex justify-center select-none cursor-pointer p-2 px-3;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  @apply text-fire-30;
}

.DocSearch-Search-Icon {
  stroke-width: 2;
}

.DocSearch-Button .DocSearch-Search-Icon {
  @apply text-gray-60;
}

.DocSearch-Button-Placeholder {
  display: none !important;
}

.DocSearch-Button-Keys {
  display: none !important;
}

/* Modal */
/* Body modifier */

.DocSearch--active {
  /*
   * We need to mark it as important because some websites override the
   * `style` attribute (e.g. Docusaurus).
   */
  overflow: hidden !important;
}

/* Container & Modal */

.DocSearch-Container {
  height: 100vh;
  width: 100vw;
  z-index: 200;
  padding: 10vh;
  backdrop-filter: blur(3px);
  @apply fixed top-0 left-0 bg-white-40-tr flex flex-col;
}

.DocSearch-Container a {
  text-decoration: none;
}

.DocSearch-Link {
  font: inherit;
  @apply appearance-none bg-none border-none cursor-pointer m-0 p-0 text-red-500;
}

.DocSearch-Modal {
  border-radius: 4px;
  @apply relative min-h-0 mx-auto bg-white w-full flex flex-col shadow-lg max-w-740;
}

/* Modal Searchbox */

.DocSearch-SearchBar {
  border-bottom: 1px solid;
  @apply flex items-center pl-4 pr-4 border-gray-20;
}

.DocSearch-Form {
  @apply relative w-full m-0 flex items-center h-14;
}

.DocSearch-Input {
  @apply appearance-none outline-none bg-transparent border-none flex-1 text-14 pl-2;
}

.DocSearch-Input::placeholder {
  @apply opacity-100 text-gray-40;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply m-0 p-0;
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply flex items-center justify-between text-red-500;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel {
  @apply hidden;
}

.DocSearch-LoadingIndicator {
  @apply hidden;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  @apply flex items-center justify-between text-red-500;
}

.DocSearch-Reset {
  @apply hidden;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  @apply w-4 h-4;
}

.DocSearch-Cancel {
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%23334155'/%3E%3C/svg%3E");
  background-size: 67.142857% auto;
  @apply w-8 h-7 bg-no-repeat bg-center;
}

/* Modal Dropdown */

.DocSearch-Dropdown {
  @apply pl-4 pr-4 overflow-y-auto;
}

.DocSearch-Dropdown ul {
  @apply list-none m-0 p-0;
}

.DocSearch-Title {
  @apply text-gray-40 text-18 pb-2 self-center;
}

.DocSearch-Logo a {
  @apply flex items-center;
}
.DocSearch-Logo .DocSearch-Label {
  @apply text-gray-40 text-11;
}

.DocSearch-Logo svg {
  color: #5468ff;
  @apply ml-1;
}

/* Hit */

.DocSearch-Hits:last-of-type {
  @apply mb-2;
}

.DocSearch-Hits mark {
  @apply text-red-500 bg-transparent;
}

.DocSearch-HitsFooter {
  @apply hidden;
}

.DocSearch-Hit {
  border-radius: 4px;
  @apply relative flex;
}

.DocSearch-Hit a {
  border-radius: 4px;
  @apply block w-full;
}

.DocSearch-Hit-source {
  @apply sticky top-0 z-100 pt-3 pb-3 text-16 font-semibold bg-white text-gray-80;
}

.DocSearch-Hit--deleting {
  opacity: 0;
  transition: all 250ms linear;
}

.DocSearch-Hit--favoriting {
  @apply scale-0 origin-center;
}

.DocSearch-Hit-Tree {
  @apply text-gray-40 opacity-50 stroke-2 w-5 h-7;
}

.DocSearch-Hit[aria-selected='true'] a {
  @apply bg-gray-20;
}

.DocSearch-Hit[aria-selected='true'] mark {
  text-decoration: none;
}

.DocSearch-Hit-Container {
  @apply flex items-center flex-row p-4 text-gray-40;
}

.DocSearch-Hit-icon {
  @apply w-5 h-5 stroke-1 text-gray-40;
}

.DocSearch-Hit-action {
  @apply flex items-center stroke-1;
}

.DocSearch-Hit-action svg {
  @apply block w-5 h-5;
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  margin-left: 6px;
}

.DocSearch-Hit-action-button {
  @apply appearance-none bg-transparent border-none cursor-pointer;
}

svg.DocSearch-Hit-Select-Icon {
  display: none;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Select-Icon {
  display: block;
}

.DocSearch-Hit-action-button:hover path,
.DocSearch-Hit-action-button:focus path {
  fill: #fff;
}

.DocSearch-Hit-content-wrapper {
  @apply flex flex-auto flex-col justify-center whitespace-nowrap overflow-ellipsis relative font-medium pl-4 pr-4 overflow-hidden;
}

.DocSearch-Hit-title {
  @apply text-14;
}

.DocSearch-Hit-path {
  @apply text-12;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-title,
.DocSearch-Hit[aria-selected='true'] mark,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-text,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-path,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-icon,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Tree {
  color: none;
}

/* No Results - Start Screen - Error Screen */

.DocSearch-NoResults,
.DocSearch-StartScreen,
.DocSearch-ErrorScreen {
  @apply flex flex-col pt-5;
}

.DocSearch-Screen-Icon {
  @apply pb-3 text-gray-40 self-center;
}

.DocSearch-Help {
  @apply text-gray-40 pb-2 text-center;
}

.DocSearch-Prefill {
  border-radius: 4px;
  @apply appearance-none bg-transparent border-none cursor-pointer p-4 text-gray-40 text-14 font-medium w-full text-left;
}

.DocSearch-Prefill:hover,
.DocSearch-Prefill:focus {
  outline: none;
  text-decoration: none;
  @apply bg-gray-20;
}

/* Modal Footer */

.DocSearch-Footer {
  @apply flex flex-row-reverse flex-shrink-0 justify-between relative select-none w-full z-100 p-4;
}

.DocSearch-Commands {
  display: none !important;
}

/* Responsive */
@media (max-width: 750px) {
  .DocSearch-Dropdown {
    height: 100%;
  }

  .DocSearch-Container {
    padding: 2vh;
  }

  /* .DocSearch-Hit-content-wrapper { */
  /*   display: flex; */
  /*   position: relative; */
  /*   width: 80%; */
  /* } */

  .DocSearch-Modal {
    max-width: 95%;
  }

  .DocSearch-Hit-Tree {
    display: none;
  }
}
/* purgecss end ignore */
