/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

/* purgecss start ignore */
.hljs {
  display: block;
  /*overflow-x: auto;*/
  /*background: #f8f8ff;*/
}

.hljs-quote {
  color: #408080;
  font-style: italic;
}

.hljs-operator, .hljs-literal {
  color: #A766D0; /* TODO: add to TW */
  /*@apply text-code-5  */
}

.hljs-comment {
  @apply text-code-4;
}

.hljs-selector-tag,
.hljs-subst {
  color: #954121;
}

.hljs-keyword {
  color: #38B790; /* TODO: add to TW */
}

.sig .hljs-keyword {
  @apply text-berry;
}

.hljs-number,
.hljs-string,
.hljs-doctag {
  color: #1A8AD3; /* TODO: add to TW */
  /*@apply text-code-2;*/
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #19469d;
}

.hljs-params {
  color: #00f;
}

.hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #376fdd;
  font-weight: normal;
}

.hljs-variable,
.hljs-template-variable {
  color: #008080;
}

.hljs-regexp,
.hljs-link {
  color: #b68;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* tweaks to syntax highlighting, assuming atom-one-light theme */

.hljs-character {
  color: #50a14f;
}
.hljs-module-identifier {
  @apply text-berry;
}
.hljs-constructor {
  color: #EB523E; /* TODO: add to TW */
  /*@apply text-code-1;*/
}

/* purgecss end ignore */
