/* Markdown related stuff */
/* Sometimes we cannot circumvent the cascade, especially for nested lists */

.md-ul, .md-ol {
  @apply mb-8;
}

.md-ul ul {
  @apply mb-0 ;
}

.md-ol > li {
  counter-increment: li;
}

.md-ul .md-li {
  @apply relative my-6;
}

.md-ol > .md-li::before {
  content: counter(li) ".";
  @apply absolute font-semibold;
}

.md-ul > .md-li::before{
  content: "•";
  @apply absolute;
}

.md-ul > .md-li > ul > li::before{
  content: "—";
  @apply absolute;
}

.md-ul > .md-li > ul {
  @apply mb-14 ml-4;
}

.md-li > p {
  @apply text-gray-80 ml-5;
}

.md-li > ul > li p {
  @apply ml-6;
}

.md-p + .md-p {
  @apply mt-6;
}

/* INFOBOX (Markdown.res) Find a better solution for <p> text inside of Info-Box (Markdown)? */
.infobox > p {
  @apply text-14 mt-0;
} 

.infobox > .md-p {
  @apply mt-0;
}

.infobox >p >a {
  @apply underline text-current;
}
.infobox >p >a:hover {
  @apply no-underline text-current text-gray-70;
}
