/* Markdown related stuff */
/* Sometimes we cannot circumvent the cascade, especially for nested lists */

.md-ul {
  @apply mb-4;
}

.md-ul ul {
  @apply mb-0;
}

.md-ol > li {
  counter-increment: li;
}

.md-ol > .md-li p::before {
  content: counter(li) ".";
  @apply text-night-dark font-semibold inline-block w-6 -ml-6;
}

.md-ul > .md-li p::before {
  content: "•";
  @apply inline-block w-4 -ml-4 pr-2;
}

.md-p + .md-p {
  @apply mt-3;
}
