/* Markdown related stuff */
/* Sometimes we cannot circumvent the cascade, especially for nested lists */

.md-ul, .md-ol {
  @apply mb-8;
}

.md-ul ul {
  @apply mb-0 ;
}

.md-ol > li {
  counter-increment: li;
}

.md-ol > .md-li p::before {
  content: counter(li) ".";
  @apply font-semibold inline-block w-6 -ml-6;
}

.md-ul > .md-li p::before {
  content: "•";
  @apply inline-block w-4 -ml-4 pr-2;
}

.md-ul > .md-li > ul > li p::before {
  content: "—";
  @apply inline-block w-6 -ml-6 pr-2;
}

.md-ul > .md-li > ul{
  @apply mb-14;
}


.md-li > p {
  @apply ml-4 text-gray-80 my-6;
}

.md-p + .md-p {
  @apply mt-6;
}

/* INFOBOX (Markdown.res) Find a better solution for <p> text inside of Info-Box (Markdown)? */
.infobox > p {
  @apply text-14 mt-0;
} 

.infobox > .md-p {
  @apply mt-0;
}

.infobox >p >a {
  @apply underline text-current;
}
.infobox >p >a:hover {
  @apply no-underline text-current text-gray-70;
}