@tailwind base;
@tailwind components;

@import './_hljs.css';
@import './_markdown.css';
@import './_theme.css';
@import "./_fonts.css";

body {
  @apply font-sans bg-white;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

@tailwind utilities;
