@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './_hljs.css';
@import './_markdown.css';
@import "./_fonts.css";

body {
  @apply font-overpass bg-white;
}
